body,h1,p{
    margin: 0px;
}
h1{
    font-family: 'Varela Round', sans-serif;
    opacity: 0.8;
    font-size: 30px;

}
h3,h2{
    color: rgb(70, 70, 70);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    font-weight:500;
}
header{
    width: 100%;
    height: auto;
    background-color: black;
    color: azure;
   
}

.nav-link{
    font-size: 20px;
    color:rgb(255, 255, 255);
    font-family:'Times New Roman', Times, serif;
}
.navbar{
    color: white;
}

.nav-item:hover{

    border-left: 5px solid rgb(255, 0, 0);
    background-color: rgb(37, 37, 37);
    padding-left: 10px;
    transition: 500ms;
}
.nav-item{
    transition: 900ms;
}
.review{
    color: white;
}
.feature{
    overflow: hidden;
    width:100%;
    background-image: url('../images/3.jpg');
    min-height: 400px;
    background-size: cover;
    margin-top: 70px;
}

.trailor{
    max-width: 500px;
    height: 300px;
    background-color: aliceblue;
    overflow: hidden;
    
}
.innerContent{
    padding-top: 50px;
}
.section{
    position: relative;
    padding: 50px 0;
    background-color: white;
}
.card{
    max-width:200px;
    margin:15px;
    
    
}

.card-group{
    align-content: space-between;
    border: none;
}
.image-container{
    height: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 60px;
}


.box{
   
    position: relative;
    display: inline-block;
    overflow: hidden;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
}
.image-container1{
    width: 16%;
    top: -50px;
    z-index: 1;
    left: 50px;
}
.image-container2{
    width: 20%;
    top: -27px;
    z-index: 2;
    left: 25px;
}
.image-container3{
    width: 20%;
    z-index: 3;
}
.image-container4{
    width: 20%;
    top: -27px;
    z-index: 2;
    right: 30px;
}
.image-container5{
    width: 16%;
    top: -50px;
    z-index: 1;
    right: 48px;
}
.box img{
    width: 100%;
    height: auto;
    transform: scale(1);
    transition: 900ms;
}
.box img:hover{
    transform: scale(1.1);
    transition: 900ms;
}

.img-fluid{
    box-shadow: 0 8px 20px 1px rgba(0, 0, 0, 0.14);
}
.btn-round{
    border-width: 1px;
    border-radius: 49px !important;
    padding: 11px 23px;
}
.bg-color{
    background-color: rgb(216, 216, 216);
}
.desc{
    font-weight: 300;
    color: rgb(88, 88, 88);
    font-size: 1.3em;
   
}
.desc-w{
    font-weight: 300;
    color: rgb(196, 196, 196);
    font-size: 1.3em;
    
}
.title{
    font-weight: 700;
    padding-bottom: 10px;
}
.pd{
    padding-top: 250px
}
.section-top{
    padding-top: 80px;
    position: relative;
}
.section-contant{
    margin-top: -200px;
    background-color: rgb(37, 37, 37);
    height: 700px;
    z-index: 1;
}
.img{
    width: 225px;
    position: absolute;
}
.img-comments {
    left: -40px;
    top: -30px;
    box-shadow: 0 8px 20px 1px rgba(0, 0, 0, 0.14);
    z-index: 3;
    
}
.img-blog {
    top: 30px;
    left: 160px;
    box-shadow: 0 8px 20px 1px rgba(0, 0, 0, 0.14);
    z-index: 4;
    
}
.fa-star{
color: rgb(253, 236, 0);
font-size: 20px;
}
.fa-star:hover{
    transition: ease-in-out;
    color: rgb(126, 126, 126);
}
/*---------------------headerImg -------------------------------*/



footer{
    background-color: rgb(20, 20, 20);
    height: 80px;
    margin-top: 50px;
    padding: 25px 0;
}
/* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 600px) {
    .img-comments,.img-blog{
        z-index: 0;
        position: relative;
        top: 0px;
        left: 0px;
       
    }
    .review{
        color:white;
    }
    .feature img{
        width: 100%;
    }
    .card{
        max-width:300px;
        margin:5px;  
    }
    .innerContent{
        padding-top: 20px;
    }
  .section{
      padding: 20px;
  }
   header h1 {
      font-size: 30px;
      font-family: 'Varela Round', sans-serif;

    }
   
    .feture1{
        width: 100%
    }
    
  }
  .carousel-indicators li {
    position: relative;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    background-color: rgba(255,255,255,.5);
}